@use "vector.scss" as v;

//
@function col-mix($i, $a, $b) {
    @return color-mix(in srgb, #{$a} calc(#{$i} * 100%), #{$b});
}

//
@function checkerboard($origin) {
    @return color-mix(
        in srgb,
        #eee calc(mod(round(var(--#{$origin}-x), 1) + round(var(--#{$origin}-z), 1), 2) * 100%),
        #111
    );
}

//
@mixin light-shading-logic($origin, $normal, $light-pos, $color, $out: "result") {
    $light-dir: "light-dir";
    @include v.vec3(
        $light-dir + "-tmp",
        calc(var(--#{$light-pos}-x) - var(--#{$origin}-x)),
        calc(var(--#{$light-pos}-y) - var(--#{$origin}-y)),
        calc(var(--#{$light-pos}-z) - var(--#{$origin}-z))
    );

    //
    --length: calc(1 / #{v.length($light-dir + "-tmp")});
    @include v.normalizeI($light-dir, $light-dir + "-tmp", var(--length, 1));

    //
    --dot-product: max(0, calc(max(#{v.dot($normal, $light-dir)} * 0.9 + 0.1, 0)));
    #{$out}: color(from #{$color} srgb
        calc(r * clamp(0, var(--dot-product, 1), 1))
        calc(g * clamp(0, var(--dot-product, 1), 1))
        calc(b * clamp(0, var(--dot-product, 1), 1))
    );
}

//
@function light-shading($origin, $normal, $light-pos, $color) {
    @return --light-shading(
        var(--#{$origin}-x),
        var(--#{$origin}-y),
        var(--#{$origin}-z),
        var(--#{$normal}-x),
        var(--#{$normal}-y),
        var(--#{$normal}-z),
        var(--#{$light-pos}-x),
        var(--#{$light-pos}-y),
        var(--#{$light-pos}-z),
        #{$color}
    );
}
