@use "./vector.scss" as v;
@use "./logic.scss" as l;

//
@mixin sphere-intersection-logic($center, $radius, $origin, $dir, $out: "result") {
    @include v.minus3("oc", $origin, $center);
    --radius-in-2: calc(var(--#{$radius}, 1) * var(--#{$radius}, 1));

    //
    --a: #{v.dot($dir, $dir)};
    --b: calc(#{v.dot("oc", $dir)} * 2);
    --c: calc(#{v.dot("oc", "oc")} - var(--radius-in-2, 1));

    //
    --disc: calc((var(--b, 0) * var(--b, 0)) - (var(--a, 0) * var(--c, 0) * 4));

    //
    --sqrt-of-disc: sqrt(max(var(--disc, 0), 0));
    --a-m-2: calc(2 * var(--a, 0));
    --b-neg: calc(-1 * var(--b, 0));
    --t1: calc((var(--b-neg, 0) - var(--sqrt-of-disc, 0)) / var(--a-m-2, 0));
    --t2: calc((var(--b-neg, 0) + var(--sqrt-of-disc, 0)) / var(--a-m-2, 0));

    //
    --by-min: min(var(--t1, 0), var(--t2, 0));
    --by-max: max(var(--t1, 0), var(--t2, 0));
    --nearest: #{"if(\
        style(--by-min >= 0.0): \
        var(--by-min, 0); else: \
        var(--by-max, 0); \
    )"};

    //
    #{$out}: #{"if(\
        style(--disc >= 0.0) and style(--nearest >= 0.0): \
        calc(var(--nearest, 0) - 0.0001); else: \
        #{v.$inf}; \
    )"};
}

//
@mixin plane-intersection-logic($plane-point, $plane-normal, $origin, $dir, $out: "result") {
    @include v.minus3("po", $plane-point, $origin);
    --numerator: #{v.dot($plane-normal, "po")};
    --denominator: #{v.dot($plane-normal, $dir)};
    --dcomparable: abs(var(--denominator, 0));
    --is-parallel: #{"if(style(--dcomparable < 0.001): 1; else: 0;)"};
    --t: #{"if(style(--is-parallel: 1): #{v.$inf}; else: calc(var(--numerator, 0) / var(--denominator, 0));)"};
    #{$out}: #{"if(style(--t < 0.001): #{v.$inf}; else: calc(var(--t, #{v.$inf}) - 0.001);)"};
}

//
@function sphere-intersection($center, $radius, $origin, $dir) {
    @return --sphere-intersection(
        var(--#{$center}-x, 0),
        var(--#{$center}-y, 0),
        var(--#{$center}-z, 0),
        var(--#{$radius}, 0),
        var(--#{$origin}-x, 0),
        var(--#{$origin}-y, 0),
        var(--#{$origin}-z, 0),
        var(--#{$dir}-x, 0),
        var(--#{$dir}-y, 0),
        var(--#{$dir}-z, 0)
    );
}

//
@function plane-intersection($center, $normal, $origin, $dir) {
    @return --plane-intersection(
        var(--#{$center}-x, 0),
        var(--#{$center}-y, 0),
        var(--#{$center}-z, 0),
        var(--#{$normal}-x, 0),
        var(--#{$normal}-y, 0),
        var(--#{$normal}-z, 0),
        var(--#{$origin}-x, 0),
        var(--#{$origin}-y, 0),
        var(--#{$origin}-z, 0),
        var(--#{$dir}-x, 0),
        var(--#{$dir}-y, 0),
        var(--#{$dir}-z, 0)
    );
}

//
@mixin sphere-normal($out-normal, $center, $radius, $point) {
    $tmp: $point + "-tmp";
    @include v.minus3($tmp, $point, $center);
    @include v.normalize($out-normal, $tmp, $radius);
}

//
@mixin sphere-normal-I($out-normal, $center, $radius-I, $point) {
    $tmp: $point + "-tmp";
    @include v.minus3($tmp, $point, $center);
    @include v.normalizeI($out-normal, $tmp, $radius-I);
}
