//
svg {
    --pixel-size: 2px;

    //
    & {
        display: block;
        box-sizing: border-box;
        will-change: transform, contents, scroll-position;
        content-visibility: auto;
        contain-intrinsic-size: var(--w, 1) var(--h, 1);
        user-select: none;
        text-rendering: optimizeSpeed;
        shape-rendering: optimizeSpeed;
        background-color: black;
        pointer-events: none;

        // enable accelerated mode
        transform-origin: 0px 0px;
        transform: translateZ(0px);
        transform-style: preserve-3d;

        //
        perspective: 1000px;
    }

    //
    & .pixel {
        --x: attr(x type(<number>)); //mod(var(--I, 0), var(--w, 1));
        --y: attr(y type(<number>)); //round(down, calc(var(--I, 0) / var(--w, 1)));

        //
        pointer-events: none;
        text-rendering: optimizeSpeed;
        shape-rendering: optimizeSpeed;
        image-rendering: optimizeSpeed;
        paint-order: fill;
    }
}
