@use "vector.scss" as v;
@use "intersection.scss" as i;
@use "color.scss" as c;

//
@use "sass:string";
@use "sass:list";

//
@function make_arg($name) {
    $is-color: string.index("#{$name}", "color") != null;
    $type: if(sass($is-color): "<color>"; else: "<number>");
    @return string.unquote("--#{$name} type(#{$type})");
}

//
@function make_args($args) {
    $out: ();
    @each $a in $args {
        $out: list.append($out, make_arg($a), comma);
    }
    @return $out;
}

//
// $returns
@mixin make-function($name, $args, $returns: "number") {
    $argsGenerated: make_args($args);
    $returns: string.unquote($returns);

    @#{"function --#{$name}("}#{$argsGenerated}#{") returns <#{$returns}>"} {
        @content;
    }
}

//
@include make-function("sphere-intersection", (
    "center-x", "center-y", "center-z",
    "radius-in-2",
    "origin-x", "origin-y", "origin-z",
    "dir-x", "dir-y", "dir-z")
) {
    @include i.sphere-intersection-logic("center", "radius", "origin", "dir");
}

//
@include make-function("plane-intersection", (
    "center-x", "center-y", "center-z",
    "normal-x", "normal-y", "normal-z",
    "origin-x", "origin-y", "origin-z",
    "dir-x", "dir-y", "dir-z")
) {
    @include i.plane-intersection-logic("center", "normal", "origin", "dir");
}

//
@include make-function("light-shading", (
    "origin-x", "origin-y", "origin-z",
    "normal-x", "normal-y", "normal-z",
    "light-pos-x", "light-pos-y", "light-pos-z",
    "color"),
"color") {
    @include c.light-shading-logic("origin", "normal", "light-pos", var(--color, #111));
}
