//
$inf: 10000;

//
@mixin declare-vec3-property($name, $inherits: false) {
    @property --#{$name}-x {
        inherits: #{$inherits};
        syntax: "<number>";
        initial-value: 0;
    }

    @property --#{$name}-y {
        inherits: #{$inherits};
        syntax: "<number>";
        initial-value: 0;
    }

    @property --#{$name}-z {
        inherits: #{$inherits};
        syntax: "<number>";
        initial-value: 0;
    }
}

//
@mixin declare-vec2-property($name, $inherits: false) {
    @property --#{$name}-x {
        inherits: #{$inherits};
        syntax: "<number>";
        initial-value: 0;
    }

    @property --#{$name}-y {
        inherits: #{$inherits};
        syntax: "<number>";
        initial-value: 0;
    }
}

//
@mixin declare-prop($name, $value: 0, $type: number, $inherits: false) {
    @property --#{$name} {
        inherits: #{$inherits};
        syntax: "<#{$type}>";
        initial-value: #{$value};
    }
}

//
@include declare-prop("w", 120, number, true);
@include declare-prop("h", 120, number, true);
@include declare-prop("dx");
@include declare-prop("dy");
@include declare-prop("x");
@include declare-prop("y");
@include declare-prop("I");

//
@for $i from 0 through 3 {
    @include declare-prop("t-#{$i}", $inf);
    @include declare-prop("sphere-t-#{$i}", $inf);
    @include declare-prop("plane-t-#{$i}", $inf);

    @include declare-prop("is-plane-#{$i}", 0);
    @include declare-prop("is-sphere-#{$i}", 0);
    @include declare-prop("valid-distance-#{$i}", 0);

    @include declare-prop("color-#{$i}", transparent, color);
    @include declare-prop("it-color-#{$i}", transparent, color);
    @include declare-prop("plane-color-#{$i}", transparent, color);
    @include declare-prop("sphere-color-#{$i}", transparent, color);
    @include declare-prop("shaded-color-#{$i}", transparent, color);
    @include declare-prop("surface-color-#{$i}", transparent, color);
    @include declare-prop("fresnel-#{$i}", 0);
    @include declare-prop("mix-factor-#{$i}", 0);

    //
    @include declare-vec2-property("screen");
    @include declare-vec3-property("ray-origin-#{$i}");
    @include declare-vec3-property("ray-dir-#{$i}");
    @include declare-vec3-property("sphere-normal-#{$i}");
    @include declare-vec3-property("computed-origin-#{$i}");
    @include declare-vec3-property("mixed-normal-#{$i}");
}

//
@include declare-prop("sphere-radius", 0, true);
@include declare-prop("sphere-center-length", 0, true);

//
@include declare-vec3-property("camera-origin", true);
@include declare-vec3-property("camera-dir", true);
@include declare-vec3-property("camera-up", true);
@include declare-vec3-property("camera-right", true);
@include declare-vec3-property("sphere-center", true);
@include declare-vec3-property("plane-center", true);
@include declare-vec3-property("plane-normal", true);
