@use "vector.scss" as v;
@use "native.scss" as n;
@use "color.scss" as c;
@use "intersection.scss" as i;
@use "misc.scss" as m;
@use "layout.scss";
@use "properties.scss";


//
@function is-equal($a, $b) {
    @return calc(1 - clamp(0, sign(calc(abs(var(--#{$b}, 0) - var(--#{$a}, 0)) - 0.0001)), 1));
}

//
@function between-compare($v, $a, $b, $inclusive: true) {
    @return if(style(--#{$v} >= #{$a}) and style(--#{$v} < #{$b}): 1; else: 0; );
}

//
@mixin trace-ray($i) {
    $prev-i: $i - 1;

    // Potentially optimized?
    // Intersection tests
    & {
        --sphere-t-#{$i}: #{i.sphere-intersection(
            "sphere-center",
            "sphere-radius-in-2",
            "ray-origin-#{$prev-i}",
            "ray-dir-#{$prev-i}"
        )};

        --plane-t-#{$i}: #{i.plane-intersection(
            "plane-center",
            "plane-normal",
            "ray-origin-#{$prev-i}",
            "ray-dir-#{$prev-i}"
        )};
    }

    //
    & {
        --t-#{$i}: min(
            var(--sphere-t-#{$i}, #{v.$inf}),
            var(--plane-t-#{$i}, #{v.$inf})
        );
        --is-plane-#{$i}: #{is-equal("t-#{$i}", "plane-t-#{$i}")};
        --is-sphere-#{$i}: #{is-equal("t-#{$i}", "sphere-t-#{$i}")};
        --valid-distance-#{$i}: #{between-compare("t-#{$i}", 0, v.$inf, false)};
    }

    //
    & {
        @include v.compute-intersection-point("ray-origin-#{$i}", "ray-origin-#{$prev-i}", "ray-dir-#{$prev-i}", "t-#{$i}");

        //
        @include i.sphere-normal-I(
            "sphere-normal-#{$i}",
            "sphere-center",
            var(--sphere-radius, 1),
            "ray-origin-#{$i}"
        );

        //
        @include v.mix-vec3(
            "mixed-normal-#{$i}",
            "is-sphere-#{$i}",
            "sphere-normal-#{$i}",
            "plane-normal"
        );

        //
        --ray-dir-nv-#{$i}: #{v.dot("ray-dir-#{$prev-i}", "mixed-normal-#{$i}")};
        @include v.reflect-nv("ray-dir-#{$i}", "ray-dir-#{$prev-i}", "mixed-normal-#{$i}", "ray-dir-nv-#{$i}");
    }

    //
    & { --plane-color-#{$i}: #{if(style(--is-plane-#{$i} = 1): c.checkerboard("ray-origin-#{$i}"); else: #111)}; }

    //
    & {
        --default-color-#{$i}: var(--default-color);
        --sphere-color-#{$i}: #ffccaa;

        //
        --surface-color-#{$i}: #{c.col-mix(var(--is-sphere-#{$i}, 0), var(--sphere-color-#{$i}, #111), var(--plane-color-#{$i}, #fff))};
        --shaded-color-#{$i}: #{c.light-shading("ray-origin-#{$i}", "mixed-normal-#{$i}", "light-pos", var(--surface-color-#{$i}))};
        --it-color-#{$i}: #{c.col-mix(var(--valid-distance-#{$i}, 0), var(--shaded-color-#{$i}), var(--default-color-#{$i}))};

        //
        --fresnel-#{$i}: calc(0.05 + 0.95 * clamp(0, pow(1 - abs(#{v.dot("ray-dir-#{$prev-i}", "mixed-normal-#{$prev-i}")}), 5), 1));
        --mix-factor-#{$i}: calc(var(--valid-distance-#{$prev-i}, 0) * var(--fresnel-#{$i}, 0) * var(--mix-factor-#{$prev-i}, 0));

        //
        @if $i == 1 {
            --color-#{$i}: var(--it-color-#{$i}, white);
        } @else {
            --color-#{$i}: color-mix(
                in srgb,
                var(--color-#{$prev-i}) calc((1 - var(--mix-factor-#{$i}, 1)) * 100%),
                var(--it-color-#{$i}) calc(var(--mix-factor-#{$i}, 1) * 100%)
            );
        }
    }
}

//
svg {
    & {
        @include v.vec3("camera-origin", 0, 0, 0);
        @include v.vec3("camera-dir", 0, 0.01, 1);
        @include v.vec3("camera-up", 0, -1, 0);
        @include v.vec3("camera-right", 1, 0, 0);
    }

    & {
        --default-color: #aacffe;
        --sphere-radius: 1.02;
        --sphere-radius-I: calc(1 / var(--sphere-radius, 1));
        --sphere-radius-in-2: pow(var(--sphere-radius, 0), 2);

        //
        @include v.vec3("sphere-center", 0, 0.1, 3);
        @include v.vec3("plane-center", 0, -1, 0);
        @include v.vec3("plane-normal", 0, 1, 0);
        @include v.vec3("light-pos", 0, 3, 1);
    }

    & .pixel {
        & {
            @include m.generate-ray("camera-origin", "camera-dir", "camera-up", "camera-right", "ray-origin-0", "ray-dir-0");
        }

        //
        & {
            --mix-factor-0: 1;
            --fresnel-0: 1;
            --valid-distance-0: 1;
            --color-0: var(--default-color);
        }

        //
        $ray-count: 2;
        @for $i from 1 through $ray-count {
            @include trace-ray($i);
        }

        //
        & { fill: var(--color-#{$ray-count}, #111); }
    }
}
